* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    height: 15vh;
    background-color:#e17055;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e17055;
    width: 25%;
}

nav img {
    width: 100px;
}

#headline {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 85vh;
    background-color:#00cec9;
}

ul {
    margin-top: 50px;
}

ul li {
    list-style: none;
    padding-bottom: 17px;
}

a {
    color: #ffffff;
    font-size: 1.3em;
    text-decoration: none;
}

section {
    width: 75%;
    height: 85vh;
    overflow-y: scroll;
}

article {
    margin: 20px auto 0 auto;
    width: 90%;
    border: 1px dotted black;
    padding: 10px;
}

h2, h3 {
    margin-bottom: 15px;
}

#note {
    margin-top: 10px;
}